/* Styling for Dashboard */
.dashboard-box {
  background: linear-gradient(125deg, rgba(74,8,239,1) 0%, rgba(255,193,7,0.75) 100%);
  color: white;
  width: 40%;
  height: 200px;
  border-radius: 1rem;
  box-shadow:0 2px 8px 0px rgba(0, 0, 0, 0.25);
}
.dashboard-box > div {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 3rem;
}
.dashboard-box > p {
  font-size: 1.25rem;
  padding: 0 0.5rem;
}