@import '../../styles/base/settings';

.main-header {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 $l-size;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: all ease-in-out 400ms;
}

.dashboard {
  background: transparent;
  box-shadow: none;
}

.main-header {
  height: 90px;
}

#list > a {
  padding: 0.75rem;
  border-radius: 0.5rem;
  text-decoration: none;
  margin: 0 1rem;
}

.main-header > #list > a:hover {
  background-color: whitesmoke;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#menu {
  background: transparent;
  display: none;
  cursor: pointer;
  border: none;
  outline: none;
}
#menu > .bar1, #menu > .bar2, #menu > .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
#menu.active > .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
#menu.active > .bar2 {
  opacity: 0;
}
#menu.active > .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Styling for Tablet and Mobile devices */
@media screen and (max-width: 1024px) {
  .main-header {
    height: auto;

    > .d-flex {
      height: 90px;
      align-items: center;
      width: 100%;
    }

    #menu {
      display: block;
    }

    #list {
      display: none;
    }

    #list.active {
      display: flex;
      flex-direction: column;
      padding: 0 0 1rem;
    }

    #list > a {
      margin: 0.5rem 0;
    }
  }

  .dashboard {
    padding: 0 1rem;
  }
}